@import "_normalize.css";
@import "_variable.css";
@import "_flex.css";
@import "_navbar.css";
@import "_hero.css";
@import "_avatar.css";
@import "_button.css";


body {
  min-height: var(--h-screen-size);
  font-family: var(--font-sans);
  background-color: var(--body-background-color);
  margin: 0;
}


